@media (min-width: 1000px) {    
    .loginContainer {
        width:40%;
        margin-top: 55px;
    }
    .loginDiv {
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (max-width: 1000px) {    
    .loginContainer {
        width:60%;
        margin-top: 50px;
    }
    .loginDiv {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 600px) {    
    .loginContainer {
        width:80%;
    }
    .loginDiv {
        padding-left: 15px;
        padding-right: 15px;
    }
}

