<div style="min-height: 100vh; display: flex; flex-direction: column; background: lightslategray;">

<app-header></app-header>

<!-- Login Form -->
<div class="container text-center pt-2 loginContainer">
    <div class="bg-dark text-light py-3 fs-4">Login Form</div>
    <div class="bg-light-subtle py-4">
        <form >
            <div class="text-center loginDiv">
                <form>
                    <div class="form-group">
                    <label for="formGroupExampleInput">Username:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="username" placeholder="Enter username" [(ngModel)]='username'>
                    </div>
                    <div class="form-group">
                    <label for="formGroupExampleInput2" class="pt-2">Password:</label>
                    <input type="password" class="form-control" id="formGroupExampleInput2" name="password" placeholder="Enter password" [(ngModel)]='password'>
                    </div>
                    <div>
                    <a href="" class="pt-1" style="color: cadetblue; font-size: 14px; font-weight: 600;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Reset Password
                    </a>
                    </div>
                    <div>
                        <input class="mt-4 btn btn-dark" style="width:30%" type='button' value='LogIn' (click)='login()'>
                    </div>
                    <div class="pt-3">
                        <p style="color:red">{{message}}</p>
                    </div>
                </form>
            </div>
        </form>
    </div>
    <div class="bg-dark-subtle py-1">Don't have an account? <a routerLink="../register" class="text-dark">Sign up</a></div>
</div>


<!-- Password Reset Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Password Reset</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="row mb-3">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" name="userEmail" placeholder="Enter email" [(ngModel)]="userEmail">
                    </div>
                </div>
                <div class="pt-3">
                    <p style="color:blue">{{message2}}</p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="close()">Close</button>
            <button type="button" class="btn btn-primary" (click)="sendEmail()">Send email</button>
        </div>
        </div>
    </div>
</div>

<!-- Fill Space (so that the footer is always at the bottom of the screen)-->
<div style="flex-grow:1"></div>

<app-footer></app-footer>

</div>