<div style="min-height: 100vh; display: flex; flex-direction: column; background: lightslategray;">

<!-- Header -->
<app-header></app-header>

<!-- Actions -->
<section class="bg-secondary-subtle text-light py-4 text-center text-md-start">
    <div class="container actionsContainer" >
        <div class="d-md-flex justify-content-around align-middle text-dark">
            <div class="m-1"> 
                <button class="btn btn-outline-dark actionButton" (click)="return()">Return</button>
            </div>
        </div>
    </div>
</section>

<!-- Canvas -->
<div class="container mt-4">
    <div class="text-center" >
        <canvas #canvas style="border: 1px solid"></canvas>
    </div>
</div>

<!-- Panel for Rooms -->
<section class="bg-secondary-subtle text-light mt-3 py-2 text-center text-md-start">

    <div class="text-center text-dark" *ngIf="selectedRoom == null">
        <div class="col-sm">
            <b>No room selected.</b>
        </div>
    </div>

    <!-- Changing existing room -->
    <div class="container optionsContainer text-center pt-2 mt-2" *ngIf="selectedRoom != null">
        <div class="row mb-3 justify-content-center align-items-center text-dark" >
            <div class="col-sm">
                <h5>Room width: [m]</h5>
            </div>
            <div class="col-sm text-center">
                <input type="text" class="form-control" id="roomWidth" name="roomWidth" [(ngModel)]="newWidth" disabled>
            </div>
        </div>
        <div class="row mb-3 justify-content-center align-items-center text-dark">
            <div class="col-sm">
                <h5>Room height: [m]</h5>
            </div>
            <div class="col-sm text-center">
                <input type="text" class="form-control" id="roomHeight" name="roomHeight" [(ngModel)]="newHeight" disabled>
            </div>
        </div>
        <div class="row mb-3 justify-content-center align-items-center text-dark">
            <div class="col-sm">
                <h5>Door on wall:</h5>
            </div>
            <div class="row mb-3 justify-content-center align-items-center text-dark">
                <div class="col-sm">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="bottom" name="wall" value="bottom" [(ngModel)]="newDoorWall" disabled>
                        <label class="form-check-label" for="bottom">Bottom</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="top" name="wall" value="top" [(ngModel)]="newDoorWall" disabled>
                        <label class="form-check-label" for="top">Top</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="left" name="wall" value="left" [(ngModel)]="newDoorWall" disabled>
                        <label class="form-check-label" for="left">Left</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="right" name="wall" value="right" [(ngModel)]="newDoorWall" disabled>
                        <label class="form-check-label" for="right">Right</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3 justify-content-center align-items-center text-dark">
            <div class="col-sm">
                <h5>Door position: [m]</h5>
            </div>
            <div class="col-sm text-center">
                <input type="text" class="form-control" id="doorPosition" name="doorPosition" [(ngModel)]="newDoorPosition" disabled>
            </div>
        </div>
    </div>
</section>

<!-- Fill Space (so footer is at the bottom)-->
<div style="flex-grow:1"></div>

<!-- Footer -->
<app-footer></app-footer>

</div>