<div style="min-height: 100vh; display: flex; flex-direction: column; background: lightslategray;">

<!-- Header -->
<app-header></app-header>

<!-- Change Password -->
<div class="container panelContainer">
    <div class="bg-dark text-light py-3 fs-4 text-center">Change Password</div>
    <div class="bg-light-subtle py-4 panelDiv">
        <form>
            <div class="row mb-3 justify-content-center align-items-center">
                <div class="col-sm">
                    <h5>Current password:</h5>
                </div>
                <div class="col-sm">
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword">
                </div>
            </div>
            <div class="row mb-3 justify-content-center align-items-center">
                <div class="col-sm">
                    <h5>New password:</h5>
                </div>
                <div class="col-sm">
                    <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword">
                </div>
            </div>
            <div class="row mb-3 justify-content-center align-items-center">
                <div class="col-sm">
                    <h5>Repeat new password:</h5>
                </div>
                <div class="col-sm">
                    <input type="password" class="form-control" id="newPassword2" name="newPassword2" [(ngModel)]="newPassword2">
                </div>
            </div>
            <div class="row justify-content-center align-items-center text-center">
                <div class="col-sm">
                    <input class=" btn btn-dark" style="width:40%" type='button' value='Change Password' (click)="changePassword()">
                </div>
            </div>
            <div class="text-center" [hidden]="message.length == 0">
                <br>
                <p class="error">{{message}}</p>
                <br>
            </div>
        </form>
    </div>
</div>

<!-- Fill Space (so footer is at the bottom)-->
<div style="flex-grow:1"></div>

<!-- Footer -->
<app-footer></app-footer>

</div>