input:invalid {
    color: red;
}

@media (min-width: 1400px) {    
    .panelContainer {
        width:40%;
        margin-top: 55px;
        padding-top: 50px;
    }
    .panelDiv {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 1400px) {    
    .panelContainer {
        width:60%;
        margin-top: 50px;
        padding-top: 50px;
    }
    .panelDiv {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 900px) {    
    .panelContainer {
        width:80%;
        padding-top: 50px;
    }
    .panelDiv {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 650px) {    
    .panelContainer {
        width:95%;
        padding-top: 50px;
    }
    .panelDiv {
        padding-left: 15px;
        padding-right: 15px;
    }
}
